<table class="table table-striped">
  <thead>
  <tr ng-hide='quote.usage_based'>
    <th></th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.unit_price' | translate }}
    </th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.quantity' | translate }}
    </th>
    <th ng-if='showContractMultiplier'>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.sub_total' | translate }}
    </th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.total_price' | translate }}
    </th>
  </tr>
  </thead>
  <tbody ng-hide='quote.usage_based'>
    <tr ng-repeat="pricingDetail in quote.pricingDetails">
      <td>
        {{ pricingDetail.description }}
      </td>
      <td>
        {{ quotedCurrency }} {{ pricingDetail.unitPrice.value | number:2 }}
      </td>
      <td>
        {{ pricingDetail.quantity }}
      </td>
      <td>
        {{ quotedCurrency }} {{ pricingDetail.totalPrice | number:2 }}
      </td>
      <td ng-if='showContractMultiplier'>
        {{ quotedCurrency }} {{ pricingDetail.termPrice | number:2 }}
        <sub class='text-muted'>
          {{ 'mnoe_admin_panel.dashboard.provisioning.quote.monthly' | translate }}
        </sub>
      </td>
    </tr>

    <tr>
      <td colspan='{{ showContractMultiplier ? 4 : 3 }}'>
        {{ 'mnoe_admin_panel.dashboard.provisioning.quote.total_list_price' | translate }}
      </td>
      <td>
        {{ quotedCurrency }} {{ quotedPrice | number:2 }}
      </td>
    </tr>
  </tbody>
  <tbody ng-show='quote.usage_based'>
    <tr>
      <td class='text-center'>
        {{ 'mnoe_admin_panel.dashboard.provisioning.quote.usage_based' | translate }}
      </td>
    </tr>
  </tbody>
</table>

<div class='alert alert-danger text-center' ng-if="disclaimerMsg">
  {{ disclaimerMsg }}
</div>
