<table class="table table-striped">
  <thead>
  <tr ng-hide='quote.usage_based'>
    <th></th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.unit_price' | translate }}
    </th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.quantity' | translate }}
    </th>
    <th>
      {{ 'mnoe_admin_panel.dashboard.provisioning.quote.total_price' | translate }}
    </th>
  </tr>
  </thead>
  <tbody ng-hide='quote.usage_based'>
    <tr ng-repeat="pricingDetail in quote.pricingDetails">
      <td>
        {{ pricingDetail.description }}
      </td>
      <td>
        {{ quotedCurrency }} {{ pricingDetail.unitPrice.value }}
      </td>
      <td>
        {{ pricingDetail.quantity }}
      </td>
      <td>
        {{ quotedCurrency }} {{ pricingDetail.totalPrice }}
      </td>
    </tr>

    <tr>
      <td colspan='3'>
        {{ 'mnoe_admin_panel.dashboard.provisioning.quote.total_list_price' | translate }}
      </td>
      <td>
        {{ quotedCurrency }} {{ quotedPrice }}
      </td>
    </tr>
  </tbody>
  <tbody ng-show='quote.usage_based'>
    <tr>
      <td class='text-center'>
        {{ 'mnoe_admin_panel.dashboard.provisioning.quote.usage_based' | translate }}
      </td>
    </tr>
  </tbody>
</table>

<div class='alert alert-danger text-center' ng-if="disclaimerMsg">
  {{ disclaimerMsg }}
</div>
