// Add a line on the panels between the header and body
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid @input-border !important;
}

.dashboard-marketplace-app .show-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.alert.billing-info-alert.alert-danger {
  margin-bottom: 0
}
